/* .inner-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.inner-table tr:nth-child(even) {
  background-color: #dddddd;
} */

.vehicle-update-popup-content {
  height: 100%;
  overflow: auto;
}