.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 52px;
  z-index: 999; /* make sure it always on the top ! */
}

.navbar a {
  text-decoration: none;
  color: black;
  height: 52px;
  display: inline-block;
}

.navbar_logo {
  position: relative;
  left: 20px;
  line-height: 52px;
  display: inline-block;
}

.navbar_links_main {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.navbar_link {
  position: relative;
  display: inline-block;
  padding: 0px 20px;
  line-height: 52px;
  height: 52px;
}

.navbar_links_sep {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0;
  height: 52px;
  clear: both;
}

.navbar a::before {
  display: block;
  content: "";
  width: 35px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-150%);
  transition: 0.5s transform;
  opacity: 0;
}
.navbar a:hover::before {
  opacity: 1;
  transform: translateX(-50%);
}

.navbar .is-active::before {
  opacity: 1;
  transform: translateX(-50%);
}
